:root {
  --color-white: #fff;
  --color-cosmic-latte: #f8f5e7;
  --color-black: #000;
  --color-red: #f00;
  --color-charcoal: #294358;

  --primary-color: #1f3f60;
  --secondary-color: #d1b578;
  --error-color: var(--color-red);
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* .bi {
  font-size: 1.56em;
  color: var(--color-white);
}

header {
  background: #1f3f60;
  color: var(--color-cosmic-latte);

  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 6px solid #fff;
}
header h1 {
  font-size: 30px;
  font-weight: bold;
}

header h1 a {
  color: var(--color-cosmic-latte);
}
header h1 a:hover {
  color: var(--secondary-color);
}
header .main-nav {
  display: flex;
  gap: 0.75rem;
}
header .main-nav a {
  color: var(--color-cosmic-latte);
  font-size: 0.875rem;
}
@media screen and (min-width: 680px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    font-size: 36px;
    margin-bottom: 0;
  }
  header .main-nav {
    gap: 1rem;
  }
  header .main-nav a {
    font-size: 1rem;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #1f3f60;
  color: var(--color-cosmic-latte);

  padding: 1rem;
  border: 6px solid #fff;
  margin-top: auto;
}
.footer p {
  margin-bottom: 0;
}
.footer nav {
  display: flex;
  gap: 0.5rem;
}
.page {
  background: var(--secondary-color);
  border: 6px solid #fff;
  padding: 1rem;
  color: var(--primary-color);
  /* height: calc(100vh - 100px); */
  flex: 1;
}
.page a {
  color: var(--primary-color);
  text-decoration: underline;
}
.project-card {
  border: 16px solid #fff;
}
.project-card .bi {
  color: var(--primary-color);
  font-size: 1.56rem;
}
.project-card img {
  /* filter: grayscale(100%) invert(10%) sepia(8%) saturate(350%)
    hue-rotate(351deg) brightness(105%) contrast(95%); */
  filter: sepia(1) hue-rotate(170deg) saturate(95%);
  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */
  border: 2px solid #496175;
}
.project-card img:hover {
  filter: none;
}
.project-card .info {
  flex-direction: column;
  display: flex;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.project-card .info .links {
  display: flex;
  gap: 0.5rem;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 540px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
} 

@media screen and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
} 

.btn-primary {
  background: var( --primary-color);
  color: var(--color-cosmic-latte);
  font-weight: bold;
  border: 0 none;
}

.form-error-message {
  color: var(--error-color);
}
